<div class="container">
    <div class="row mb-4 d-flex justify-content-between">
        <div>
            <button class="btn btn-primary" routerLink="/add-password">
                <i class="fa fa-plus"></i>
                Ajouter un mot de passe
            </button>
            <button class="btn btn-primary ml-3 mr-3" (click)="showOrHidePasswords()">
                <i [class]="clearPasswords ? 'fa fa-eye-slash' : 'fa fa-eye'" ></i>
            </button>
        </div>
        <button class="btn btn-primary" routerLink="/generate-password">
            <i class="fa fa-lock"></i>
            Générer un mot de passe sécurisé
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Domaine</th>
                <th scope="col">Email</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Password</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let password of passwordsList">
                <th scope="row">
                    <img width="20" src="{{'https://'+password.domain + '/favicon.ico'}}">
                    {{ password.domain }}
                </th>
                <td>{{ password.email }}</td>
                <td>{{ password.username }}</td>
                <td>{{ clearPasswords ? password.password :  '***********' }}</td>
                <td class="d-flex">
                    <button class="btn" (click)="goToModify(password)">
                        <i class="fa fa-cog"></i>
                    </button>
                    <button class="btn" (click)="removePassword(password)">
                        <i class="fa fa-trash" id="trash"></i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>