
    <div class="app-container">
        <div class="title">
            <h3>{{pwd ? 'Modifier' : 'Ajouter'}} un mot de passe</h3>
        </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h5 class="modal-title">
                                    <div class="logo-src"></div>
                                </h5>
                                <div class="divider row"></div> 
                                <form [formGroup]="form">                               
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label for="username">Domaine</label>
                                            <div class="position-relative form-group">
                                                <input (keydown.enter)="onSubmit()" placeholder="Domaine" class="form-control" formControlName="domain"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email">Email</label>
                                            <div class="position-relative form-group">
                                                <input (keydown.enter)="onSubmit()" name="email" id="email" placeholder="Email" type="text" class="form-control" formControlName="email"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="username">Pseudo</label>
                                            <div class="position-relative form-group">
                                                <input (keydown.enter)="onSubmit()" name="username" id="username" placeholder="Pseudo" type="username" class="form-control" formControlName="username"></div>
                                        </div>
                                        <label for="password" class="col-md-12">Mot de passe</label>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <input (keydown.enter)="onSubmit()" name="password" id="password" placeholder="Mot de passe" type="password" class="form-control" formControlName="password"></div>
                                        </div>
                                    </div>
                                </form>
                            <div class="modal-footer d-block text-center">
                                <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg" (click)="onSubmit()">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">Copyright © Starter Hack 2020</div>
                </div>
            </div>
        </div>