<div class="app-container app-theme-white body-tabs-shadow">
    <div class="title">
        <h3>Connexion</h3>
    </div>
        <div class="bg-blue bg-animation">
            <div class="d-flex justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h5 class="modal-title">
                                    <div class="logo-src"></div>
                                    <div class="divider row"></div>
                                </h5>
                                <form [formGroup]="form">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="email">E-mail</label>
                                                <input (keydown.enter)="onSubmit()" autocomplete="email"
                                                    formControlName="email" placeholder="E-mail" type="text"
                                                    id="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <label for="password">Mot de passe</label>
                                                <input (keydown.enter)="onSubmit()" autocomplete="current-password"
                                                    formControlName="password" placeholder="Mot de passe" id="password"
                                                    type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="divider"></div>
                            </div>
                            <div class="modal-footer clearfix">
                                <div class="float-left">
                                    <a href="#" class="btn-lg btn btn-link">Mot de passe oublié ?</a></div>
                                <div class="float-right">
                                    <button (click)="onSubmit()" class="btn btn-primary btn-lg">Connexion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>