* { font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1;
}

nav {
  background-color: #1976d2;
}

.toolbar img {
  margin: 0 16px;
}

#main {
    display: flex;
    flex-direction: column;
}

.nav-link {
  color: white;
}