<nav class="navbar navbar-expand-md mb-4">
  <div class="container-fluid">
    <a routerLink="/home">
      <img
    width="40"
    alt="Angular Logo"
    src="/assets/icons/logo.png"
    /> 
    </a>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>