<div class="app-container">
    <div class="title">
        <h3>Générer un mot de passe</h3>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title">
                            <div class="logo-src"></div>
                        </h5>
                        <div>
                            <label for="username">Mot de passe</label>
                            <div class>
                                <input class="form-control" [value]="password" readonly>
                            </div>
                        </div>
                        <div class="divider row"></div>
                        <form [formGroup]="form">
                            <div class="col">
                                <label for="numbers">Taille</label>
                                <div class="form-row mr-3">
                                    <input type="range" formControlName="length">
                                    <span>{{ form.get('length').value }}</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="form-group mr-3">
                                    <input formControlName="letters" type="checkbox" id="letters">
                                </div>
                                <label for="letters">Lettres</label>
                            </div>
                            <div class="form-row">
                                <div class="form-group mr-3">
                                    <input formControlName="numbers" type="checkbox" id="numbers">
                                </div>
                                <label for="numbers">Nombres</label>
                            </div>
                            <div class="form-row">
                                <div class="form-group mr-3">
                                    <input formControlName="specialChars" type="checkbox" id="special-chars">
                                </div>
                                <label for="special-chars">Caractères spéciaux</label>
                            </div>
                        </form>
                        <div class="modal-footer d-block text-center">
                            <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg"
                                (click)="generate()">Générer</button>
                        </div>
                    </div>
                </div>
                <div class="text-center text-white opacity-8 mt-3">Copyright © Starter Hack 2020</div>
            </div>
        </div>
    </div>